.table1 table{
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    }
    .table1 th, .table1 td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    }
    .table1 th {
    background-color: #f2f2f2;
}

.center {
    display: block;
    margin: 0 auto;
    /* 添加你想要的样式 */
}

.axis {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x-axis path {
    display: inline;
}
.axis-title {
    fill: #888;
    font-size: 11px;
}
