body, html {
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    height: 100%;
    flex-direction: row;
}
.left {
    width: 100%;
}
.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space;
}
.detail {
    margin-bottom: 10px;
}
